/* Container bao bọc flipbook */
#flipbook-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1000px;
  margin: 0 auto;
}

/* Flipbook chính */
#flipbook {
  width: 100%;
  max-width: 1000px; /* Điều chỉnh kích thước flipbook theo nhu cầu */
  height: 500px;
  margin: 0 auto; /* Căn giữa flipbook */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

/* Thiết lập cho các trang */
#flipbook .page {
  width: 100%;
  height: 100%;
  overflow: hidden; /* Ẩn nội dung tràn ra ngoài */
  border-radius: 8px; /* Bo góc cho trang */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Bóng mờ cho các trang */
}

/* Ẩn bóng cho trang đầu và trang cuối */
#flipbook .page:first-child,
#flipbook .page:last-child {
  box-shadow: none; /* Không có bóng */
  margin: 0 auto; /* Căn giữa trang đầu và trang cuối */
}

/* Đặt hình ảnh bên trong trang */
#flipbook .page img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Đảm bảo ảnh không bị méo */
  border-radius: 8px; /* Bo góc hình ảnh bên trong trang */
}

/* Nút điều khiển container */
.button-container {
  display: flex;
  justify-content: center; /* Căn giữa các nút */
  margin-top: 15px; /* Khoảng cách giữa các nút và flipbook */
}

/* Thiết lập nút điều khiển */
.flip-button {
  background: none; /* Xóa nền của nút */
  border: none;
  color: #FF3177; /* Màu của mũi tên */
  font-size: 24px; /* Kích thước mũi tên */
  cursor: pointer;
  margin: 0 15px; /* Khoảng cách giữa các nút */
}

.flip-button:focus {
  outline: none; /* Xóa viền khi chọn nút */
}
